@model List<Proyecto.Models.Favorito>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="panel panel-default" id="tablaProductos">
                    <div class="container" style="background-color: #f3df9a; border-radius: 3px; border-style: solid; border-width: 2px 2px 2px 2px; border-color: white; width: 330px; height: 490px;padding-right:10px;">
                        <div class="panel-heading" style="text-align: center; color: #887674;">@item.IdProductoNavigation.Titulo</div>
                        <div class="panel-body">
                            <img class="img-responsive" src="data:image/jpg; base64, @item.IdProductoNavigation.Imagen" style="max-width: 300px; min-width: 300px; max-height: 200px; min-height: 200px; border-radius: 3px" />
                            <p style="color: #56456a; text-align:center">@item.IdUsuarioNavigation?.Apodo</p>
                            <div class="container" style="max-height: 80px; max-width: 300px">
                                <p style="color:#887674;">@item.IdProductoNavigation.Descripcion</p>
                            </div>
                            <p style="color: #887674; font-size: 18px;">$ @item.IdProductoNavigation.Precio</p>
                            <p style="color: #887674; width: fit-content; background-color: #fffbe0; border-radius: 6px; border-style: solid; border-width: 3px 3px 3px 3px; border-color: #fffbe0 ">@item.IdProductoNavigation.IdCategoriaNavigation.Nombre</p>

                            <div class="modal-footer">
                                @using (Html.BeginForm("Agregar", "favoritos", FormMethod.Post))
                                {
                                    <input type="submit" value="Me gusta" style="background-color: #8a4b5f; color: white; border-color: #8a4b5f; border-radius: 3px" />
                                }
                                <label style="color: #8a4b5f;"> @(item.IdProductoNavigation.Favoritos.Count) </label>
                                <label style="color: #887674;"> ||</label>
                                <a href="~/Layout2/IndexComentario/@item.Id" role="button" style="color: #887674;">Ir a la publicación</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>