@model Proyecto.Models.Producto;

@{
    ViewData["Title"] = Model.Titulo;
}
@Html.Partial("ModalComentario")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="site.css" />
<br />
<h3 style="text-align: center; color: #56456a; ">@Model.Titulo</h3>
    <div class="container">
        <div class="col">
            <div style="text-align:center;">
                <img style="max-height: 500px; max-width: 500px; border-radius: 3px;" src="data:image/jpg; base64,@Model.Imagen" />
                <div class="row">
                    <label>@Model.IdUsuarioNavigation.Apodo</label>
                    <label style="text-align: center;">@Model.Descripcion</label>
                    <div style="text-align:center;">
                        <label style="width: fit-content; background-color: #f8efb8; border-radius: 6px; border-style: solid; border-width: 3px 3px 3px 3px; border-color: #f8efb8 ">$ @Model.Precio</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <label style="color: #56456a; border-width: 2px 2px 2px 2px; border-color: #f8efb8;">Comentar</label>
            <textarea style="width: 500px; height: 200px; background-color: #f8efb8; border-radius: 6px; border-style: solid; border-width: 3px 3px 3px 3px; border-color: #f8efb8"></textarea>
            <input type="submit" data-toggle="modal" data-target="#exampleModal" style="width: fit-content; background-color: #eac44c; border-color: #f8efb8; color: #56456a;" />
            <div class="col">
                <div style="text-align: center;">
                    <label style="color: #56456a;">Comentarios</label>
                    <br/>
                    <label>Todavía no hay comentarios...</label>
                </div>
            </div>
        </div>
    </div>

